.content {
	width: 100%;
	height: 95%;	
	border: 1px solid;
}
.top{
	display: block;
	width: 100%;
}
.tblock{
	display: inline-block;	
	width: 30%;
	height: 100%;	
	margin: 0px auto;
	text-align: center;		
	background-color: lightgrey;
	box-sizing: border-box;
}
.logo{
	margin: 2em 0em;
	width: 50%; 
	height: 60%;
}
.buttonblock{
	display: inline-block;
	width: 70%;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
	background-color: lightgrey;
	text-align: right;
	vertical-align: bottom;
	box-sizing: border-box;
	white-space: nowrap;
}
.selected{
	display: inline-block;	
	margin: 1% 1% 0 1%;
	width: auto;
	padding: 1em;	
	background-color: black;
	color: white;
	text-align: center;
}
.menu{
	display: inline-block;
	margin: 1% 1% 0 1%;
	padding: 1% 1% 0.33% 1%;
	width: auto;
	background-color: grey;
	color: white;	
}
.button-text{
	width: 100%;
	margin: 0px;
	text-align: right;
}
.gallery{
	width: 90%;
	height:	300px;
	margin: 0px auto;
}
.picture{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.picture img {
	width: 100%;
	height: 100%;
}
.gallery-down{
	width: 90%;
	height: 180px;
	margin: 0px auto;
}
.img_down{
	display: inline-block;
	box-sizing: border-box;
	width: 33%;
	height: 100%;
}
.img_middle{
	width: 34%;
}
.textboxes{
	width: 90%;
	height: 35%; 
	margin: 10px auto;
}
.textbox{
	display: inline-block;	
	box-sizing: border-box;
	width: 32%;
	vertical-align: top;	
	background-color: white;
}
.textbox-head{
	width: 120px;
	height: 40px;	
	margin: 0px auto;
	overflow: hidden;
}
.textbox-pict{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.textbox-pict img {
	width: 100%;
	height: 100%;
}
.textbox-header {
	text-align: center;
	margin: 5px;
}
.textbox-body{
	margin: 0px;
	padding: 0px 5%;
	text-align: justify;
}
.third-width{
	width: 33%;
}
.down {
	margin: 0px;
	padding: 7px;
	height: 20%;
	background-color: grey;
}
.float-right{
	float: right;
}